################################################################################
# ignore mac os x and windows files
################################################################################

Thumbs.db
.DS_Store
~\$*

################################################################################
# ignore other files here
################################################################################

deploy.sh
gh-md-toc

################################################################################
# not ignore .gitignore
################################################################################

!.gitignore
